body {
  margin: 0;
  overflow-x: hidden;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 64px;
  padding-left: 24px;
  padding-right: 8px;
  z-index: 10;
  top: 0;
  background-color: white;
  border-bottom: 2px solid navy;

}
  .logo {
   display: inline-flex;
   flex-direction: row;
   align-items: center;
   height: 32px;
   margin-left: 24px;

 }

.logo p {
  font-size: 22px;
  color: darkblue;
}

.logo span {
  font-size: 22px;
  color: gold;
}

 nav {
   display: inline-flex;
   flex-direction: row;
 }

nav a {
  padding-right: 16px;
  text-decoration: none;
  font-size: 18px;
  color: darkblue;
  font-weight: bold;
}

.banner {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 600px;
  top: 70px;
  background-color: lightyellow;
  border-bottom: 2px solid darkblue;
}

.motto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.motto h1 {
  font-size: 42px;
  color: darkblue;
  margin-bottom: 12px;
}

.motto p {
  font-size: 24px;
  font-style: italic;
  color: lightblue;
  padding-bottom: 30px;
  max-width: 75%;
}

.banner img {
  width: 60%;
  object-fit: cover;
  object-position: center;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 24px;
  padding-right: 46px;

}

 button {
  display: block;
  background-color: navy;
  color: lightblue;
  width: 45%;
  height: 50px;
  text-align: center;
  font-size: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  justify-content: center;

}

.informational-container {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 700px;
  top: 70px;
}

.practice-block {
  display: flex;
  flex-direction: column;
  max-width: 65%;
}
.practice-block img {
  object-position: center;
  object-fit: cover;
  padding: 32px 26px;
  height: 60%;
}

.practice-block h3, .practice-block p {
  padding-left: 24px;
  max-width: 97%;
}
.guide-block {
  display: flex;
  flex-direction: column;
  width: 37%;
  margin-top: 16px;
  margin-bottom: 16px;
}
.orientation {
  display: flex;
  flex-direction: row;
  height: 30%;

}
.orientation img {
  width: 35%;
  height: auto;
  object-position: center;
  object-fit: cover;
  padding: 16px;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  max-width: 60%;
  margin-right: 24px;
}


.learning-courses {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-around;
  align-items: baseline;
  margin: 0 auto;
  top: 100px;
  width: 100%;
  margin-left: 26px;
  margin-top: 0px;


}
.course-name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 30%;
  height: auto;
  margin-bottom: 20px;

}

.course-name img {
  width: 85%;
  height: auto;
  margin-bottom: 18px;

}

 .info h3, .course-name h3, .practice-block h3 {
  font-size: 28px;
  margin-bottom: 18px;
}
.course-name p {
  max-width: 85%;
  margin-bottom: 18px;
}
.info p, .info a, .course-name p, .practice-block p {
  font-size: 18px;
  text-decoration: none;
}
